<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name, multipart: true), html: {method: :put}) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <h3>Change Profile Picture:</h3>
          <div class="field">
            <%= f.label :photo %>
            <%= f.file_field :photo, autofocus: true, class: 'form-control'%>
          </div>
          <h4>Current Profile Picture:</h4>
          <%= image_tag(current_profile.photo.url(:medium)) %>
        </div>
        <div class="col-md-6">
          <h3>Current Email:</h3>

          <div class="field">
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="col-md-6">
          <h3>Change Password:</h3>

          <div class="field">
            <div class="input-group">
              <span class="input-group-addon">New  </span>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <div class="field">
            <div class="input-group">
              <span class="input-group-addon">Confirm</span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3><u>Demographic Information</u>:</h3>
          <hr>
          <div class="field">
            <%= f.label :first_name, 'First Name:' %><br>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :last_name, 'Last Name:' %><br>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :phone, 'Phone:' %><br>
            <%= f.number_field :phone, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :gender, 'Gender:' %><br>
            <%= f.select(:gender, ['Male', 'Female'], {}, {:class => 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :dob, 'Date of Birth:' %><br>
            <%= f.datetime_select :dob, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <h3><u>Address Information</u>:</h3>
          <hr>
          <div class="field">
            <%= f.label :address1, 'Address Line 1:' %><br>
            <%= f.text_field :address1, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :address2, 'Address Line 2:' %><br>
            <%= f.text_field :address2, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :city, 'City:' %><br>
            <%= f.text_field :city, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :state, 'State:' %><br>
            <%= f.select(:state,
            ['NM', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL',
              'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
              'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
              'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {}, {:class => 'form-control'}) %>
            </div>
            <div class="field">
              <%= f.label :zip, 'ZIP:' %><br>
              <%= f.number_field :zip, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :experience, 'Previous Clubs Played For:' %><br>
              <%= f.text_area :experience, class: 'form-control', rows: '8' %>
            </div>
          </div>
        </div>
        <hr>
        <div class="actions">
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirmationModal">Update</button>
        </div>

        <!-- Modal -->
        <div id="confirmationModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter your current password to confirm changes.</h4>
              </div>
              <div class="modal-body">
                <div class="field">
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit 'Confirm', class: 'btn btn-primary pull-right' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3>Cancel my account</h3>
        </div>
        <div class="panel-body">
          Are you sure you want to cancel your account?
          <%= button_to 'Delete', registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger pull-right' %>
        </div>
      </div>
    </div>
  </div>
