<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Sign up<div class="pull-right"><%= link_to 'Log in', new_profile_session_path, class: 'btn btn-default' %></div></h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true) do |f| %>
          <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :photo, 'Upload Profile Picture' %>
              <%= f.file_field :photo, autofocus: true, class: 'form-control' %>
            </div>


          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, class:'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h3><u>Demographic Information</u>:</h3>
              <div class="field">
                <%= f.label :first_name, 'First Name:' %><br>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :last_name, 'Last Name:' %><br>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :phone, 'Phone:' %><br>
                <%= f.number_field :phone, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :gender, 'Gender:' %><br>
                <%= f.select(:gender,['Male', 'Female'], {}, {:class => 'form-control'}) %>
              </div>
              <div class="field">
                <%= f.label :dob, 'Date of Birth:' %><br>
                <%= f.datetime_select :dob, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <h3><u>Address Information</u>:</h3>
              <div class="field">
                <%= f.label :address1, 'Address Line 1:' %><br>
                <%= f.text_field :address1, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :address2, 'Address Line 2:' %><br>
                <%= f.text_field :address2, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :city, 'City:' %><br>
                <%= f.text_field :city, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :state, 'State:' %><br>
                <%= f.select(:state,
                             ['NM', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL',
                              'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
                              'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
                              'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], {}, {:class => 'form-control'}) %>
              </div>
              <div class="field">
                <%= f.label :zip, 'ZIP:' %><br>
                <%= f.number_field :zip, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :experience, 'Previous Clubs Played For:' %><br>
                <%= f.text_area :experience, class: 'form-control', rows: '8' %>
              </div>
            </div>
          </div>
          <hr>
          <div class="actions">
            <%= f.submit "Sign up", class:'btn btn-primary pull-right' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
