<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
  div.tryoutnumber {
    font-size: 2500%;
  }
  div.divmagik{
    color: white;
  }
  </style>
</head>
<body>
  <h1>Tryout payment confirmation for <%= @cur_player.first_name + ' ' + @cur_player.last_name%></h1>
  <p>
    You have successfully registered and paid the fee for your tryout.<br>
    Payment confirmation number: <%= @t_num %>.<br>
    Fee(Paid): $<%= number_with_precision(@cur_tryout.fee, precision: 2) %>
  </p>
  <h3><strong>Date and Time:</strong></h3>
  <h4><i><%= @cur_tryout.date.strftime('%A %d, %Y') %>, <%= @cur_tryout.date.strftime('%I:%M %P') %></i></h4>
  <h3><strong>Location:</strong></h3>
  <h4><i><%= @cur_tryout.address1 %><br><%= @cur_tryout.address2 %><br><%= @cur_tryout.city %>, <%= @cur_tryout.state %> <%= @cur_tryout.zip %></i></h4>
</br>
<h3><strong>Your Tryout Number is:     <u><%=@cur_player.id%></u></strong></h3>
<p>Please print out your <strong>Tryout Number</strong> with a large enough font size to fit on your shirt <br>
  and bring this number attached to your shirt ready for tryouts. <br></p>
  <p>You may also download and print the PDF attached to this email and bring it with you to tryouts.</p>
</br>
</br>
<p>...and don't forget to bring shinguards, cleats, exercise clothes, water, and your best friend the soccer ball!</p>

<p><br>Thanks for signing up and we are excited to see your love and passion for the beautiful game!<br>
  NM Rush Soccer Club</p>

<div class="divmagik">
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
</div>


<h1><strong>Your Tryout Number is:</strong></h1>
</br></br>
</br></br>
</br></br>
</br>
<p>Cut along these dashes, and attach to shirt, and bring to tryouts.<br>---------------------------------------------------------------------------------------------------------------------------------</p>
<strong><div class="tryoutnumber"><%=@cur_player.id%></div></strong>
<p>----------------------------------------------------------------------------------------------------------------------------------</p>
</body>
</html>
