Tryout payment confirmation for <%= @cur_player.first_name + ' ' + @cur_player.last_name%>
===============================================

You have successfully registered and paid the fee for your tryout.<br>
Payment confirmation number: <%= @t_num %>
Fee(Paid): $<%= number_with_precision(@cur_tryout.fee, precision: 2) %>

 Date and Time:

 <%= @cur_tryout.date.strftime('%A %d, %Y') %>, <%= @cur_tryout.date.strftime('%I:%M %P') %>

 Location:

    <%= @cur_tryout.address1 %>
    <%= @cur_tryout.address2 %>
    <%= @cur_tryout.city %>, <%= @cur_tryout.state %> <%= @cur_tryout.zip %>

Your Tryout Number is:     <%=@cur_player.id%>
Please print out your Tryout Number with a large enough font size to fit on your shirt
and bring this number attached to your shirt ready for tryouts.
You may also download and print the PDF attached to this email and bring it with you to tryouts.


...and don't forget to bring shinguards, cleats, exercise clothes, water, and your best friend the soccer ball!

Thanks for signing up and we are excited to see your love and passion for the beautiful game!
NM Rush Soccer Club
Thanks for signing up and have a great day!
