<!-- <p id="notice"><%= notice %></p> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Tryout Details
      <% if (profile_signed_in? && current_profile.type == 'Coach') %>
          <%= link_to 'Details', edit_tryout_path(@tryout), class: 'btn btn-default pull-right' %>
      <% elsif (profile_signed_in? && current_profile.type == 'Player') %>
          <%= link_to 'Register', new_tryout_player_path(@tryout.id), class: 'btn btn-success pull-right', style: 'color:white' %>
      <% else %>
          <%= link_to 'Register', new_profile_registration_path, class: 'btn btn-success pull-right', style: 'color:white' %>
      <% end %>
      <!--player_tryouts_path(tryout_id: @tryout.id),method: :post-->
    </h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6">
          <h3><strong>Date:</strong></h3>
          <h4><i><%= @tryout.date.strftime('%A %d, %Y') %></i></h4>

          <h3><strong>Time:</strong></h3>
          <h4><i><%= @tryout.date.strftime('%I:%M %P') %></i></h4>

          <h3><strong>Fee:</strong></h3>
          <h4><i>$<%= number_with_precision(@tryout.fee, precision: 2) %></i></h4>
        </div>
        <div class="col-md-6">
          <h3><strong>Address Line 1:</strong></h3>
          <h4><i><%= @tryout.address1 %></i></h4>

          <h3><strong>Address Line 2:</strong></h3>
          <h4><i><%= @tryout.address2 %></i></h4>

          <h3><strong>City:</strong></h3>
          <h4><i><%= @tryout.city %></i></h4>

          <h3><strong>State:</strong></h3>
          <h4><i><%= @tryout.state %></i></h4>

          <h3><strong>ZIP:</strong></h3>
          <h4><i><%= @tryout.zip %></i></h4>
        </div>
      </div>
      <div class="col-md-6">
        <iframe
        width="500"
        height="400"
        frameborder="5" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdg49Tak1UQabDrP0djPBJlP6Kgp3SG3E
            &q= <%= @tryout.address1 %> <%= @tryout.address2 %> <%= @tryout.city %> <%= @tryout.state %> <%= @tryout.zip %>" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>

<% if @coach != nil %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Registered Players</h1>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped table-responsive">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Speed</th>
            <th>Shooting</th>
            <th>Passing</th>
            <th</th>
          </tr>
          </thead>


          <tbody>


          <% @tryout.player_tryouts.each do |playertryout| %>
              <% if playertryout.payment != nil %>
                  <% @player = Player.find(playertryout.player_id) %>
                  <% @evaluation = @coach.evaluations.find_by(coach_id: @coach.id, player_tryout_id: playertryout.id) %>
                  <tr>
                    <td><%= @player.id %></td>
                    <td><%= link_to @player.first_name.to_s + ' ' + @player.last_name.to_s, players_path %></td>
                    <td><%= @evaluation.rating %></td>
                    <td><%= @evaluation.speed %></td>
                    <td><%= @evaluation.shooting %></td>
                    <td><%= @evaluation.passing %></td>
                    <td><%= link_to 'Evaluation', '#', class:'btn btn-primary pull-right', style:'color:white' %></td>
                  </tr>
              <% end %>
          <% end %>


          </tbody>
        </table>
      </div>
    </div>

<% end %>
