<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Coaches</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @coaches.each do |coach| %>
          <tr>
	          <td><%= coach.id %></td>
            <td><%= coach.type %></td>
            <td><%= link_to coach.first_name.to_s + ' ' + coach.last_name.to_s, coach_path(coach) %></td>
            <td><%= coach.email %></td>
            <td><%= coach.phone %></td>
            <td><%= link_to 'Details', coach_path(coach), class: 'btn btn-default' %></td>
            <td><%= link_to 'Edit Coach', edit_coach_path(coach), class: 'btn btn-info' %></td>
            <td><%= link_to 'Delete', coach, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger pull-right', style: 'color:white' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>
