<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Coach Information: <u><%= link_to @coach.first_name + ' ' + @coach.last_name, edit_coach_path(@coach), style:'color:white' %></u> <%= link_to 'Edit', edit_coach_path(@coach), class:'btn btn-default pull-right' %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Email:</strong>
          <%= @coach.email %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @coach.phone %>
        </p>
      </div>
    </div>
  </div>
</div>




