<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Players</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Experience</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @players.each do |player| %>
          <tr>
	          <td><%= player.id %></td>
            <td><%= player.type %></td>
            <td><%= link_to player.first_name.to_s + ' ' + player.last_name.to_s, player_path(player) %></td>
            <td><%= player.email %></td>
            <td><%= player.phone %></td>
            <td><%= player.gender %></td>
            <td><%= player.dob%></td>
            <td><%= player.experience %></td>
            <td><%= link_to 'Details', player_path(player), class: 'btn btn-default' %></td>
            <td><%= link_to 'Make Coach', edit_player_path(player), class: 'btn btn-info' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>


  </div>
</div>
