<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Player Information: <u><b><%= @player.first_name + ' ' + @player.last_name%></b></u></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>id:</strong>
          <%= @player.id %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @player.type %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @player.email %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @player.phone %>
        </p>

        <p>
          <strong>Gender:</strong>
          <%= @player.gender %>
        </p>

        <p>
          <strong>Date of Birth:</strong>
          <%= @player.dob.strftime('%m/%d/%Y %I:%M %P') %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Address1:</strong>
          <%= @player.address1 %>
        </p>

        <p>
          <strong>Address2:</strong>
          <%= @player.address2 %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @player.city %>
        </p>

        <p>
          <strong>State:</strong>
          <%= @player.state %>
        </p>

        <p>
          <strong>Zip:</strong>
          <%= @player.zip %>
        </p>


      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <h4><strong>Experience:</strong></h4>
          <%= @player.experience %>
      </div>
    </div>
  </div>
</div>
