<!DOCTYPE html>
<html>

<head>
  <title>Soccer Tryout Manager</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link href="bootstrap.css" rel="stylesheet">
  <link href="heroic-features.css" rel="stylesheet">-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#336699">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Soccer Tryout Manager", tryouts_path, {:class => "navbar-brand", :style => "color:white"} %>
      <ul class="nav navbar-nav navbar-left">
        <% if (profile_signed_in? && current_profile.type == 'Coach') %>
            <li><%= link_to 'Players', players_path, class: 'navbar-link' %></li>
            <li><%= link_to 'Coaches', coaches_path, class: 'navbar-link' %></li>
        <% elsif (profile_signed_in? && current_profile.type == 'Player') %>
            <li><%= link_to 'Upcoming Tryouts', '#', class: 'navbar-link' %></li>
        <% end %>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if profile_signed_in? %>
            <li><a class='navbar-link' style='color:white'> Greetings! <b><%=current_profile.first_name%></b></a></li>
            <li><%= link_to 'Edit Profile', edit_profile_registration_path, class: 'navbar-link', style: 'color:white' %></li>
            <li><%= link_to 'Logout', destroy_profile_session_path, method: :delete, :class => 'navbar-link', :style => 'color:white' %></li>
        <% else %>
            <li><%= link_to "Sign up", new_profile_registration_path, :class => 'navbar-link', :style => 'color:white' %></li>
            <li><%= link_to 'Log in', new_profile_session_path, :class => 'navbar-link', :style => 'color:white' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
  <div class="row">
    <%= yield %>
  </div>
  <div class="navbar navbar-default navbar-fixed-bottom" style="background-color:#336699">
    <div class="container" style="padding-top: 10px">
      <p class="text-center" style="color: #9d9d9d;">Copyright &copy;
        <a style="color: #fff;" href="mailto:heileman@unm.edu?Subject=ECE%20595%20-%20Soccer%20Tryout%20Manager" target="_blank">
          <b><u>University of New Mexico</u></b></a> - Soccer Tryout Manager 2015</p>
    </div>
  </div>
</div>
<!--<script src="js/jquery.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>-->
</body>
</html>
